
<div>
<form action='/users' method="post">
<label>User Name: </label>
<input type='text' name='username'/>
<label>email: </label>
<input name='email' type='email' value='<%= @user.email %>' required/>
<label>Password: </label>
<input type='text' name='password'/>
<input type='text' name='password_conf'/>
<input type='submit' value='Submit'/>
</form>
</div>
