<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
    <link href='/css/stylesheet.css' rel='stylesheet' type='text/css'>
  </head>

  <body>
  <%= flash[:error] if flash[:error] %>
    <% if current_user %>
      Welcome, <%= current_user.username %>
      <% end %>
      <%= yield %>
  </body>
</html>
